* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;          
}
/*header start*/
header {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/cover2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


    .header img{
        width: 20%;
        height: auto;
        margin-top: 25px;
    }
    




nav {


    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    



}

.menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}

.menu a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #303ef7;
    transition: 0.4s linear;

}

.register a {
    color: white;
    background-color: indianred;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.4s;
}

.register a:hover {
    background-color: transparent;
    border: 1px solid indianred;
}

.abc {
    max-width: 650px;
    position: absolute;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 30px;

}

.abc span {
    letter-spacing: 5px;
    opacity: 60%;
    right: 1px;
}

.abc h1 {
    font-size: 2.5em;
    transition: 0.4s;
}

.abc a {
    text-decoration: none;
    letter-spacing: 5px;
    background-color: indianred;
    border-radius: 8px;
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    transition: 0.4s;
}

.abc a:hover {
    background-color: transparent;
    border: 2px solid indianred; 
}

.menu a:hover:before {
    width: 90%;
}
/*header End*/


/*Gallery start*/
.img-gallery{
columns: 3;
column-gap: 30px;

}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 60px;
    border: 4px solid black;
    transition: .2s linear;

    
}
    


 .gal{

        text-align: center;
        padding-top: 5%;
        margin-bottom: 50px;
        font-size: 50px;
        position: relative;
    }
    
    
    .gal::after {
        content: '';
        background: #303ef7;
        width: 100px;
        height: 5px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
       
    
}

.btn a {
    text-decoration: none;
    letter-spacing: 3px;
    background-color: 303ef7;
    display: inline-block;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 10px;
    color: black;
    transition: 0.4s;
border: 1px solid black;
margin-left: 40%;
margin-bottom: 20px;
   
}

.btn a:hover {
    background-color: transparent;
    border: 2px solid;
    background-color: #303ef7;
    color: white;
}


/*Gallery End*/












/*Footer Start */
.footer {
    background: #262626;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #eee;
    text-decoration: none;
}

.footer .box-container .box a i {
    padding-right: 0.5rem;
    color: #303ef7;

}

.footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
    transition: 0.4 linear;
}

.footer .credit {
    text-align: center;
    border-top: 0.1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span {
    color: #303ef7;
}

/*Footer End*/

/*Media Query*/
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}