body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url(imagegif.gif);
  opacity: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.navbar {
  background-color: #201ac4;
  overflow: hidden;
  padding: 15px;
  
}

.logo {
  float: left;

}

.logo img {
  height: 50px;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #e31010;
  color: black;
}



.search-container {
  display: flex;
  align-items: center;
}

#search-box {
  padding: 8px;
  border: none;
  border-radius: 3px;
  align-items: center;
  width: fit-content;
  margin: 7px;
}

#search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}

#search-button:hover {
  background-color: #45a049;
}

.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.box {
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #4eaf4cc7;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #333;
}



footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1em;
  
  bottom: 0;
  width: 100%;
}
h1{
  color: #e31010;
  text-align: center;
  text-decoration: underline;
}
footer a {
  color: #ffffffdf;
  text-decoration: none;
  margin: 0 10px;
}
